<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.583039438868-9r7scba60ic91pspembh0nrhmdfev11u</string>
            </array>
        </dict>
    </array>
    <key>GIDClientID</key>
    <string>583039438868-9r7scba60ic91pspembh0nrhmdfev11u.apps.googleusercontent.com</string>
</dict>
</plist>
